/* You can add global styles to this file, and also import other style files */
.main{
  position: relative;
  height: 100%;
  min-height: 100vh;
  &:before{
    position: absolute;
    content: "";
    top: 0; left: 0;
    width: 100%;
    background-image: url("assets/img/bg-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
  }
  .container{
    position: relative;
  }
}
